.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 94vh;
  padding: 10px;
}

.logo {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu--list .item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.menu--list .item.active {
  background-color: #ffff00;
  color: #212121;
  transition: 0.3s ease-in-out;
}

.menu--list .item.active:hover {
  background-color: #d8d803;
  color: #212121;
}

.menu--list .item:hover {
  background-color: #ffff00;
  color: #212121;
}
